body {
  background-color: #7F7E3C;
}


#bar-chart {
  background-color: #FFFB46;
}

.graph-title {
  font-family: Roboto, sans-serif;
  font-size: 1.9em;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0px;
  color: #333;
}

.graph-subtitle {
  font-family: Roboto, sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #555;
}

.box {
  background-color: #FFFB46;
  margin: 40px auto;
  padding: 0px;
  width: 1250px;
  height: 670px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32), 0 3px 12px 0 rgba(0, 0, 0, 0.24);
}

.details {
  font-family: Roboto, sans-serif;
  font-size: 0.7em;
  font-weight: 300;
  text-align: center;
  padding: 0px;
}

.tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 3px 5px 3px 5px;
  font: 1em sans-serif;
  border: 0px;
  border-radius: 5px;
  pointer-events: none;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  background-color: lightsteelblue;
}
